body {
    font-family: Arial, sans-serif;
    background: #034b13;
}

.container {
    width: 500px;
    margin: 40px auto;
    background: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.gender {
    display: flex;
    gap: 10px;
}

.gender input {
    width: auto;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.phone-box {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.phone-box select {
    width: 100px;
    padding: 10px;
}

.phone-box input {
    flex: 1;
}