body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f9;
}

.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #1e1e2d;
    color: white;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 12px;
    cursor: pointer;
}

.sidebar ul li:hover,
.sidebar ul .active {
    background: orange;
}

/* Main */
.main {
    flex: 1;
    padding: 20px;
}

/* Topbar */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin {
    background: #ddd;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Welcome */
.welcome {
    background: #8fd19e;
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 5px gray;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 22px;
    font-weight: bold;
}